@using FanEase.UI.Models.Advertisements;
@using FanEase.Entity.Models
@model FanEase.UI.Models.Campaign.CampaignWithAdsDTO
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "AddCampaign";
    Layout = "AdminLayout";

    string UserId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    int? VideoId = HttpContextAccessor.HttpContext.Session.GetInt32("videoId");

    
    var advertisements = ViewBag.Advertisements as List<SelectAdvertisement>;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link Of CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/remixicon.css">
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/assets/css/iconsax.css">
    <link rel="stylesheet" href="~/assets/css/metismenu.min.css">
    <link rel="stylesheet" href="~/assets/css/simplebar.min.css">

    <link rel="stylesheet" href="~/assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/assets/css/jbox.all.min.css">
    <link rel="stylesheet" href="~/assets/css/editor.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/loaders.css">
    <link rel="stylesheet" href="~/assets/css/header.css">
    <link rel="stylesheet" href="~/assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="~/assets/css/footer.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link rel="stylesheet" href="~/assets/css/Campaign.css" />

    <script>
        var selectAd = document.getElementById("selectAd")
        selectAd.onchange=function(){

        
            @Model.Advertisements = (from a in @advertisements where a.IsSelectd = true select a).ToList();
       
        }
        </script>

</head>


<title>FanEase -Campaign Details</title>
<body>
    <div class="profile-area">
        <div class="container-fluid">
            <div class="row">
                <div class="edit-profile-content card-box-style col-lg-12">
                    <div class="d-flex justify-content-between mb-3">
                        <h1>Campaign Details</h1>
                        <!-- Two buttons at the opposite side -->
                        <div>
                            <button type="button" class="btn btn-primary">View Existing Advertisement</button>
                            <button type="button" class="btn btn-success">Add Advertisement</button>
                        </div>
                    </div>


                    <form asp-action="AddCampaign" asp-controller="Campaign" method="post" id="myForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row hidden">
                            <div class="col-md-6 sol-sm-12">
                                <div hidden>

                                    <input asp-for=Campaign.userId class="form-control" id="end1" value=@UserId />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 sol-sm-12">
                                <div class="form-group">
                                    <!--<label asp-for="name" class="control-label"></label>-->
                                    <span>Campaign Name</span>
                                    <span class="text-danger">*</span>
                                    <div class="input-group">
                                        <textarea asp-for="Campaign.name" class="form-control" id="end1" placeholder="Enter CampaignName"></textarea>
                                        <span asp-validation-for="Campaign.name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                    <span>Start Date</span>
                                    <span class="text-danger">*</span>
                                    <input asp-for="Campaign.startDate" class="form-control" />
                                    <span asp-validation-for="Campaign.startDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                    <span>End Date</span>
                                    <span class="text-danger">*</span>
                                    <input asp-for="Campaign.endDate" class="form-control" />
                                    <span asp-validation-for="Campaign.endDate" class="text-danger"></span>

                                </div>
                            </div>
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="slectedAds-tab" data-bs-toggle="tab" data-bs-target="#slectedAds-tab-pane" type="button" role="tab" aria-controls="slectedAds-tab-pane" aria-selected="true">Selected Assets</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="AdMenu-tab" data-bs-toggle="tab" data-bs-target="#AdMenu-tab-pane" type="button" role="tab" aria-controls="AdMenu-tab-pane" aria-selected="false">Add More Advertisements</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="slectedAds-tab-pane" role="tabpanel" aria-labelledby="slectedAds-tab" tabindex="0">
                                    <table class="table align-middle">
                                        <thead align="center">
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">TITLE</th>
                                                <th scope="col">TYPE</th>
                                                <th scope="col">END DATE</th>
                                                <th scope="col">ACTIONS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                Model.Advertisements = (from a in advertisements where a.IsSelectd = true select a).ToList();
                                            }
                                            
                                                @foreach (var advertise in Model.Advertisements)
                                                {
                                                    <tr align="center">
                                                        <td>
                                                            <span>@advertise.AdvertisementId</span>
                                                        </td>
                                                        <td>
                                                            <span>@advertise.AdvertisementTitle</span>
                                                        </td>
                                                        <td>
                                                            <span>@advertise.ContentType</span>
                                                        </td>
                                                        <td>
                                                            <span>@advertise.EndDate</span>
                                                        </td>
                                                        <td>
                                                            <span> </span>
                                                        </td>
                                                    </tr>
                                                }
                                            
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane fade show" id="AdMenu-tab-pane" role="tabpanel" aria-labelledby="AdMenu-tab" tabindex="0">
                                    <p align="right">
                                        <a asp-action="AddAdvertisement" asp-controller="Advertisement"><input type="button" value="Add Advertisement" class="btn btn-primary"></a>
                                    </p>
                                    <table class="table align-middle">
                                        <thead>
                                            <tr align="center">
                                                <th scope="col">SELECT</th>
                                                <th scope="col">ADVERTISEMENT NAME</th>
                                                <th scope="col">TYPE</th>
                                                <th scope="col">END DATE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var advertise in advertisements)
                                            {
                                                <tr align="center">
                                                    <td>
                                                        <input type="checkbox" asp-for=@advertise.IsSelectd id="selectAd"/>
                                                    </td>
                                                    <td>
                                                        <span>@advertise.AdvertisementTitle</span>
                                                    </td>
                                                    <td>
                                                        <span>@advertise.ContentType</span>
                                                    </td>
                                                    <td>
                                                        <span>@advertise.EndDate</span>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="save-update col-sm-7" align="right">
                                <input onclick="myCancelFunction()" type="button" value="Cancel" class="btn btn-danger" id="btnReset" />
                                &nbsp;
                                <input type="submit" value="Save" class="btn btn-secondary float-right" />
                                &nbsp;
                                @if (VideoId != null)
                                {
                                    <input type="submit" asp-action="AddCampaignProceed" asp-controller="Campaign" value="Proceed" class="btn btn-primary float-right" />
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <!-- JavaScript files -->
    <script src="~/assets/js/jquery.min.js"></script>

    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/metismenu.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    <script src="~/assets/js/geticons.js"></script>
    <script src="~/assets/js/sweetalert2.all.min.js"></script>

    <script src="~/assets/js/editor.js"></script>
    <script src="~/assets/js/form-validator.min.js"></script>
    <script src="~/assets/js/contact-form-script.js"></script>
    <script src="~/assets/js/ajaxchimp.min.js"></script>
    <script src="~/assets/js/custom.js"></script>

    <!-- JavaScript function to reset form fields -->
    <script>
        function myCancelFunction() {
            var result = confirm("Are you sure you want to cancel the process?");
            if (result) {
                document.getElementById("btnReset").onclick = document.getElementById("myForm").reset();
            } else {
                alert("You select No!");
            }
        }
    </script>
</body>
