@model IEnumerable<FanEase.UI.Models.Campaign.Dto.CampaignListScreenVms>
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "CampaignListScreenByUserId";
    
    Layout = "AdminLayout";
   
     string UserId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link Of CSS -->
    <style>
        #MyTable {
            border:none;
            
        }

        #MyTable thead th {
                border-bottom-color: #dee2e6;
        }

        
    </style>


    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/remixicon.css">
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/assets/css/iconsax.css">
    <link rel="stylesheet" href="~/assets/css/metismenu.min.css">
    <link rel="stylesheet" href="~/assets/css/simplebar.min.css">

    <link rel="stylesheet" href="~/assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/assets/css/jbox.all.min.css">
    <link rel="stylesheet" href="~/assets/css/editor.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/loaders.css">
    <link rel="stylesheet" href="~/assets/css/header.css">
    <link rel="stylesheet" href="~/assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="~/assets/css/footer.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link rel="stylesheet" href="~/assets/css/Campaign.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <title>FanEase -Campaign Details</title>
</head>


<h1>Campaign</h1>

<div class="body-bg-f8faff">
    <div class="contact-list-area">
        <div class="container-fluid">
            <div class="table-responsive" data-simplebar>
                <div class="content-right">
                    <div class="my-file-area">
                        <div class="form-file-upload d-flex justify-content-between align-items-center">
                            <h3>
                                Campaign List
                            </h3>

                            @*  <form class="search-form d-flex">
                            <input type="text" class="form-control" placeholder="Search Files">
                            <button type="button" class="btn btn-outline-primary mx-3">search</button>
                            </form>*@

                            <ul class="create-upload d-flex">
                                <li>
                                    <a href="@Url.Action("AddCampaign", "Campaign")" class="btn btn-outline-primary mx-3">
                                        Create
                                        <img src="~/assets/images/icon/add-circle.svg" alt="add-circle">
                                    </a>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <table class="table align-middle mb-0" id="MyTable">
                    <thead>
                           <tr>
                            <th>  campaign Id  </th>
                            <th>  Thumbnail  </th>
                            <th>  Campaign Title </th>
                            <th>  Publish Status </th>
                            <th>  Video Status </th>
                            <th>  Views </th>
                            <th>  Clicks </th>
                            <th>Quick Action</th>

                        </tr>
                        
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.campaignId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.videoThumbnil)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @if (item.isPublished)
                                    {
                                        <p style="color :green;">Draft</p>
                                    }
                                    else
                                    {
                                        <p style="color :skyblue;">Golive</p>
                                    }
                                </td>

                                <td>
                                    @if (item.isActive)
                                    {
                                        <p style="color :green;">Active</p>
                                    }
                                    else
                                    {
                                        <p style="color :orangered;">Inactive</p>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.views)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.adClicks)
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">


                                        <button type="button" class="btn btn-danger" onclick="confirmRemove('@item.campaignId')">Remove</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        // Initialize DataTable on the "MyTable" element
        $(document).ready(function () {
            $('#MyTable').DataTable();
           

        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
    <script>
        function confirmRemove(campaignId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'Campaign will be removed Permanently!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user confirms the removal, redirect to the appropriate action
                    window.location.href = '@Url.Action("RemoveCampaign","Campaign")?campaignId=' + campaignId;
                }
            });
        }
    </script>
}