@model FanEase.UI.Models.Campaign.Dto.MainCampaignUI
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "CampaignDetails";
    Layout = "AdminLayout";
}

<body class="body-bg-f8faff">
    <div class="container-fluid">
        <div class="others-title">
            <div class="edit-profile-content card-box-style col-lg-12">
                <h1>Campaign Details</h1>
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-4">User ID:</dt>
                            <dd class="col-sm-8">@Model.campad.userId</dd>

                            <dt class="col-sm-4">Campaign Name:</dt>
                            <dd class="col-sm-8">@Model.campad.name</dd>

                            <dt class="col-sm-4">Start Date:</dt>
                            <dd class="col-sm-8">@Model.campad.startDate</dd>

                            <dt class="col-sm-4">End Date:</dt>
                            <dd class="col-sm-8">@Model.campad.endDate</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="edit-profile-content card-box-style col-lg-12">
                <h2>Advertisements</h2>
                <p>Number of Advertisements: @Model.CampaiAdvclass.Count</p>
                @if (Model.CampaiAdvclass.Any())
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Advertisement ID</th>
                                <th>Advertisement Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var advertisement in Model.CampaiAdvclass)
                            {
                                <tr>
                                    <td>@advertisement.advertisementId</td>
                                    <td>@advertisement.advertisementTitle</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No advertisements found for this campaign.</p>
                }

                <div class="form-group actionButton">
                    @*<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("CampaignListScreenByUserId","Campaign")'">Back To List</button>*@
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("CampaignListScreenByUserId","Campaign",new {userid= @HttpContextAccessor.HttpContext.Session.GetString("UserId")})'">Back To List</button>
                </div>
            </div>
        </div>
    </div>
</body>
