@model IEnumerable<FanEase.UI.Models.Campaign.Dto.CampaignListScreenVms>
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "CampaignListScreenByUserId";
    
    Layout = "AdminLayout";
   
     string UserId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link Of CSS -->
    <style>
        #MyTable {
            border:none;
            
        }

        #MyTable thead th {
                border-bottom-color: #dee2e6;
        }

        
    </style>


    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/remixicon.css">
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/assets/css/iconsax.css">
    <link rel="stylesheet" href="~/assets/css/metismenu.min.css">
    <link rel="stylesheet" href="~/assets/css/simplebar.min.css">

    <link rel="stylesheet" href="~/assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/assets/css/jbox.all.min.css">
    <link rel="stylesheet" href="~/assets/css/editor.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/loaders.css">
    <link rel="stylesheet" href="~/assets/css/header.css">
    <link rel="stylesheet" href="~/assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="~/assets/css/footer.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link rel="stylesheet" href="~/assets/css/Campaign.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <title>FanEase -Campaign Details</title>
</head>


<h1>Campaign</h1>

<div class="body-bg-f8faff">
    <div class="contact-list-area">
        <div class="container-fluid">
            <div class="table-responsive" data-simplebar>
                <div class="content-right">
                    <div class="my-file-area">
                        <div class="form-file-upload d-flex justify-content-between align-items-center">
                            <h3>
                                Campaign List
                            </h3>

                            @*  <form class="search-form d-flex">
                            <input type="text" class="form-control" placeholder="Search Files">
                            <button type="button" class="btn btn-outline-primary mx-3">search</button>
                            </form>*@

                            <ul class="create-upload d-flex">
                                <li>
                                    <a href="@Url.Action("AddCampaign", "Campaign")" class="btn btn-outline-primary mx-3">
                                        Create
                                        
                                    </a>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <table class="table align-middle mb-0" id="MyTable">
                    <thead>
                           <tr>
                            <th>  campaign Id  </th>
                            <th>  Thumbnail  </th>
                            <th>  Campaign Title </th>
                            <th>  Publish Status </th>
                            <th>  Video Status </th>
                            <th>  Views </th>
                            <th>  Clicks </th>
                            <th>Quick Action</th>

                        </tr>
                        
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.campaignId)
                                </td>
                                <td>
                                    <img src="@item.videoThumbnil" alt="" height="100px" width="100px"/>
                                    @*@Html.DisplayFor(modelItem => item.videoThumbnil)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @if (item.isPublished)
                                    {
                                        <p style="color :green;">Draft</p>
                                    }
                                    else
                                    {
                                        <p style="color :skyblue;">Golive</p>
                                    }
                                </td>

                                <td>
                                    @if (item.isActive)
                                    {
                                        <p style="color :green;">Active</p>
                                    }
                                    else
                                    {
                                        <p style="color :orangered;">Inactive</p>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.views)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.adClicks)
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">


                                        <button type="button" class="btn btn-danger" onclick="confirmRemove('@item.campaignId')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                            </svg>
                                        </button>

                                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("EditCampaigns","Campaign",new{CampaignId=item.campaignId})'">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        // Initialize DataTable on the "MyTable" element
        $(document).ready(function () {
            $('#MyTable').DataTable();
           

        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
    <script>
        function confirmRemove(campaignId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'Campaign will be removed Permanently!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user confirms the removal, redirect to the appropriate action
                    window.location.href = '@Url.Action("RemoveCampaign","Campaign")?campaignId=' + campaignId;
                }
            });
        }
    </script>
}