@model IEnumerable<FanEase.Entity.Models.VideoListVm>

@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "VideoListByUSerId";
    Layout = "AdminLayout";
    string role = HttpContextAccessor.HttpContext.Session.GetString("role");

}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>

    <script>
        function confirmRemove(videoId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'Video will be removed Permanently!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!',
                cancelButtonText: 'Cancel'  
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user confirms the removal, redirect to the appropriate action
                    window.location.href = "https://localhost:7163/RemoveVideo/"+videoId;
                    
                }
            });
        }
    </script>
@*
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>*@

</head>

<body class="body-bg-f8faff">

    <div class="contact-list-area">
        <div class="container-fluid">
            <div class="table-responsive" data-simplebar>
                <div class="others-title">
                    @if (role == "Creator")
                    {
                        <p align="right">
                            <a asp-action="AddVideo"><input type="button" value="Add Video" class="btn btn-primary" /> </a>
                        </p>
                    }
                    <h3>
                        Video List of Creator
                    </h3>
                </div>

                <table class="table align-middle mb-0">
                    <thead align="center">
                        <tr>
                            <th hidden>
                                Video Id
                            </th>
                            <th hidden>
                                User Id
                            </th>

                            <th hidden>
                               Advertisement Id
                            </th>
                            <th hidden>
                                Ad Clicks
                            </th>
                            <th>
                               Video Thumbnil
                            </th>
                            <th>
                               Title
                            </th>
                            <th>
                               Video Type
                            </th>
                            <th>
                                Campaign 
                            </th>
                            <th>
                                Views
                            </th>
                            <th>
                                Publish Status
                            </th>
                            <th> 
                                Active Status
                            </th>
                            <th></th>
                            <th>
                                Quick Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr align="center">
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.VideoId)
                                </td>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.UserId)
                                </td>

                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.AdvertisementId)
                                </td>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.AdClicks)
                                </td>
                                <td>
                                    @{
                                        string path = "../" + item.VideoThumbnil.Replace("\\", "/");
                                    }
                                    @*@Html.DisplayFor(modelItem => item.VideoThumbnil)*@
                                    <img width="50" height="50" src=@path alt="Thumbnail" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VideoType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Views)
                                </td>
                              
                                <td>
                                    @if (item.IsPublished == true)
                                    {

                                        <p style="color :blue;">Go Live</p>
                                    }
                                    else
                                    {

                                        <p style="color :orange;">Draft</p>
                                    }

                                </td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <p style="color :green;">Active</p>

                                    }
                                    else
                                    {
                                        <p style="color :orangered;">Inactive</p>
                                    }
                                <td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example" align="center">

                                        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("VideoDetails","Video",new{VideoId=item.VideoId})'">
                                            <img src="../assets/images/icon/eye.svg" alt="mask">
                                        </button>
                                        <span>&nbsp; </span>
                                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("EditVideo","Video",new{VideoId=item.VideoId})'">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                            </svg>
                                        </button>
                                        <span>&nbsp; </span>
                                        <button type="button" class="btn btn-danger" onclick="confirmRemove('@item.VideoId')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
                }

            </div>
        </div>
    </div>
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->
    <!-- Jquery Min JS -->
    <script src="../assets/js/jquery.min.js"></script>

    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/metismenu.min.js"></script>
    <script src="../assets/js/simplebar.min.js"></script>
    <script src="../assets/js/geticons.js"></script>
    <script src="../assets/js/sweetalert2.all.min.js"></script>

    <script src="../assets/js/editor.js"></script>
    <script src="../assets/js/form-validator.min.js"></script>
    <script src="../assets/js/contact-form-script.js"></script>
    <script src="../assets/js/ajaxchimp.min.js"></script>
    <script src="../assets/js/custom.js"></script>

</body>