@inject IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
@{
    string Email = HttpContextAccessor.HttpContext.Session.GetString("emailId");
    string Name = HttpContextAccessor.HttpContext.Session.GetString("name");
    string role = HttpContextAccessor.HttpContext.Session.GetString("role");
    string path = null;
    path = HttpContextAccessor.HttpContext.Session.GetString("profilePhoto");
    string uid = HttpContextAccessor.HttpContext.Session.GetString("UserId");
 
}
<html>
<head>

    <title>@ViewData["Title"] - FanEase.UI</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link Of CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <link rel="stylesheet" href="../assets/css/remixicon.css">
    <link rel="stylesheet" href="../assets/css/boxicons.min.css">
    <link rel="stylesheet" href="../assets/css/iconsax.css">
    <link rel="stylesheet" href="../assets/css/metismenu.min.css">
    <link rel="stylesheet" href="../assets/css/simplebar.min.css">

    <link rel="stylesheet" href="../assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="../assets/css/jbox.all.min.css">
    <link rel="stylesheet" href="../assets/css/editor.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/loaders.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/images/favicon.svg">
    <style>
    #profile1 {
        height:50px;
        width:auto;
    }
    </style>

</head>
<body class="body-bg-f8faff">

    

    <!-- Start All Section Area -->
    <div class="all-section-area">
        <!-- Start Header Area -->
        <div class="header-area">
            <div class="container-fluid">
                <div class="header-content-wrapper">
                    <div class="header-content d-flex justify-content-between align-items-top">
                        <div class="header-left-content d-flex">
                            <div class="responsive-burger-menu d-block d-lg-none">
                                <span class="top-bar"></span>
                                <span class="middle-bar"></span>
                                <span class="bottom-bar"></span>
                            </div>

                            <div class="main-logo">
                                <a href="index.html">
                                    <img src="../assets\images\FanEase\Logo-Index.png" height="50px" width="50px" alt="main-logo"> FanEase
                                </a>
                            </div>

                           

                            <div class="option-item for-mobile-devices d-block d-lg-none">
                                <i class="search-btn ri-search-line"></i>
                                <i class="close-btn ri-close-line"></i>

                                <div class="search-overlay search-popup">
                                    <div class='search-box'>
                                        <form class="search-form">
                                            <input class="search-input" name="search" placeholder="Search" type="text">

                                            <button class="search-button" type="submit">
                                                <i class="ri-search-line"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="header-right-content d-flex align-items-center">

                           

                            <div class="header-right-option dropdown profile-nav-item pt-0 pb-0" >
                                <a class="dropdown-item dropdown-toggle avatar d-flex align-items-center" href="#" id="navbarDropdown-4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @if (path == null)
                                    {
                                        <img src="../assets/images/avatar.png"  alt="avatar">
                                    }
                                    else
                                    {

                                        <img src=@path alt="avatar" id="profile1">
                                    }
                                    <div class="d-none d-lg-block d-md-block"> 
                                        <h3>@Name</h3>
                                        <span>@role</span>
                                    </div>
                                </a>

                                <div class="dropdown-menu">
                                    <div class="dropdown-header d-flex flex-column align-items-center">
                                        <div class="figure mb-3">
                                            @if (path == null)
                                    {
                                            <img src="../assets/images/avatar.png" class="rounded-circle" alt="avatar">
                                    }
                                            else
                                            {
                                              
                                                <img src=@path class="rounded-circle" alt="avatar">
                                            }
                                        </div>

                                        <div class="info text-center">
                                            <span class="name">@Name</span>
                                            <p class="mb-3 email">
                                                <a href="mailto:'@Email'">@Email</a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="dropdown-wrap">
                                        <ul class="profile-nav p-0 pt-3">
                                            <li class="nav-item">
                                                <a onclick="location.href='@Url.Action("CreatorDetails","Admin",new{creatorId=uid})'" class="nav-link">
                                                    <i class="ri-user-line"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>
                                                                                      
                                            <li class="nav-item">
                                                <a onclick="location.href='@Url.Action("EditCreator","Admin",new{creatorId=uid})'" class="nav-link">
                                                    <i class="ri-edit-box-line"></i>
                                                    <span>Edit Profile</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="dropdown-footer">
                                        <ul class="profile-nav">
                                            <li class="nav-item">
                                                <a asp-action="Logout" asp-controller="Account" class="nav-link">
                                                    <i class="ri-login-circle-line"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="header-right-option template-option">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Area -->
        <!-- Start Sidebar Menu Area -->
        @if (role == "Admin")
        {
            <nav class="sidebar-menu">
                <ul class="list-group flex-column d-inline-block first-menu" data-simplebar>
                    <li class="list-group-item main-grid active">
                        <a href="#" class="icon">
                            <img src="../assets/images/icon/element.svg" alt="element">
                        </a>

                        <ul class="list-group flex-column d-inline-block submenu">
                            <li class="list-group-item"><h5>FanEase Analysis</h5></li>
                            <li class="list-group-item">
                                <a href="website-analytics.html" class="active">DashBoard</a>
                            </li>
                            <li class="list-group-item">
                                <a href="UnderConstruction">Viewer Mode</a>
                            </li>
                            <li class="list-group-item">
                                <a href="UnderConstruction">Creator Mode</a>
                            </li>

                        </ul>
                    </li>

                    <li class="list-group-item main-grid">
                        <a href="#" class="icon">
                            <img src="../assets/images/icon/user-octagon.svg" alt="user-octagon">
                        </a>

                        <ul class="list-group flex-column d-inline-block submenu" data-simplebar>
                            <li class="list-group-item"><h5>Creator Section</h5></li>
                            <li class="list-group-item">
                                <a asp-action="AddCreatorForm" asp-controller="Admin">Add New Creator</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-action="ContenetCreatorList" asp-controller="Admin" >Creator List</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-action="VideoList" asp-controller="Video" >Video List</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-action="AdvertisementList" asp-controller="Advertisement" >Advertisement List</a>
                            </li>
                            <li class="list-group-item">
                                <a href="AddCreator">Add Creator from Existing Users</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar Menu Area -->
        }
           @if(role=="Creator") {

                <!-- Start Sidebar Menu Area -->
                <nav class="sidebar-menu">
                    <ul class="list-group flex-column d-inline-block first-menu" data-simplebar>

                        <li class="list-group-item main-grid">
                        <a href="#" class="icon">
                                <img src="../assets/images/icon/diagram.svg" alt="dashboard">
                            </a>

                            <ul class="list-group flex-column d-inline-block submenu">

                                <li class="list-group-item"><h5>Dash Board</h5></li>
                                <li class="list-group-item">
                                <a href="UnderConstruction" class="active">@Name DashBoard</a>
                                </li>


                            </ul>
                        </li>



                        <li class="list-group-item main-grid">
                            <a href="#" class="icon">
                                <img src="../assets/images/icon/video.svg" alt="video">
                            </a>

                            <ul class="list-group flex-column d-inline-block submenu" data-simplebar>
                                <li class="list-group-item"><h5>Videos</h5></li>
                                <li class="list-group-item">
                                <a onclick="location.href='@Url.Action("VideoListByUSerId","Video",new{userId=uid})'">All Videos</a>
                                </li>
                                <li class="list-group-item">
                                <a asp-action="AddVideo" asp-controller="Video">Add Video</a>
                                </li>
                                <li class="list-group-item">
                                <a href="UnderConstruction">Top 5 Videos</a>
                                </li>
                            </ul>
                        </li>


                        <li class="list-group-item main-grid">
                            <a href="#" class="icon">
                                <img src="../assets/images/icon/advanced.svg" alt="Campaigens">
                            </a>

                            <ul class="list-group flex-column d-inline-block submenu" data-simplebar>
                                <li class="list-group-item"><h5>Campaigns</h5></li>
                                <li class="list-group-item">
                                <a onclick="location.href='@Url.Action("CampaignListScreenByUserId","Campaign",new{userId=uid})'">All Campaigns</a>
                                </li>
                                <li class="list-group-item">
                                <a asp-action="AddCampaignss" asp-controller="Campaign">Add Campaign</a>
                                </li>
                                <li class="list-group-item">
                                <a href="UnderConstruction">Top Campaign</a>
                                </li>

                            </ul>
                        </li>

                        <li class="list-group-item main-grid">
                            <a href="#" class="icon">
                                <img src="../assets/images/icon/folder-2.svg" alt="media">
                            </a>

                            <ul class="list-group flex-column d-inline-block submenu" data-simplebar>
                                <li class="list-group-item"><h5>Media</h5></li>
                                <li class="list-group-item">
                                <a asp-action="AddAdvertisement" asp-controller="Advertisement">Add Media</a>
                                </li>
                                <li class="list-group-item">
                                <a onclick="location.href='@Url.Action("AdvertisementListScreenByUserId","Advertisement",new{userId=uid})'">View All</a>
                                </li>

                            </ul>
                        </li>

                        <li class="list-group-item main-grid">
                            <a href="#" class="icon">
                                <img src="../assets/images/icon/element.svg" alt="templets">
                            </a>

                            <ul class="list-group flex-column d-inline-block submenu" data-simplebar>
                                <li class="list-group-item"><h5>Templates</h5></li>
                                <li class="list-group-item">
                                <a href="/GetAllTemplatesbyuser/@uid">All Templates</a>
                                </li>
                                <li class="list-group-item">
                                <a href="UnderConstruction">Add Template</a>
                                </li>
                            </ul>
                        </li>



                    </ul>
                </nav>
                <!-- End Sidebar Menu Area -->

            }
            <!-- Start Footer Area -->
        <main class="main-content-wrap">
            @RenderBody()



        </main>
       
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
