@model FanEase.UI.Models.Creator.CreatorDetailsVM
@inject IHttpContextAccessor HttpContextAccessor;
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "CreatorDetails";
    int likes = 0;
    string path = "";
    try
    {
        if (Model.Creator.ProfilePhoto != null)
            path = "../" + Model.Creator.ProfilePhoto.Replace("\\", "/").Replace("..", ".");
    }
    catch{};
    string roles = HttpContextAccessor.HttpContext.Session.GetString("role");
}
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>

    <script>
        function confirmRemove(userId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'Creator will be removed Permanently!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user confirms the removal, redirect to the appropriate action
                    window.location.href = '@Url.Action("RemoveCreator","Admin")?creatorId=' + userId;
                }
            });
        }
    </script>
    <style>
        .btn-custom-xxs {
            padding: 3px 10px;
            font-size: 15px;
            line-height: 1.5;
            
        }</style>
</head>


            <!-- Start Page Title Area -->
            <div class="page-title-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-6">
                            <div class="page-title">
                                <h3>Creator Profile</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Page Title Area -->
            <!-- Start Profile Area -->
            <div class="profile-area">
                <div class="container-fluid">
                    <div class="card-box-style">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="profile-info d-flex align-items-center">
                                    <img class="w-25 rounded-4" src=@path alt="profile-img">
                                    <div class="profile-name ms-4">
                                        <h4><p>@Model.Creator.FirstName @Model.Creator.LastName<p/></h4>
                                        <span>Member Since: @Model.Creator.CreationDate</span>
                                        <div class="follow-email">
                                            <a href="mailto:{@Model.Creator.Email}" class="btn btn-secondary">
                                                E-mail
                                            </a>
                                        </div>
                                        <br/>
                                        <div>
                            <button type="button" class="btn btn-primary btn-custom-xxs" onclick="location.href='@Url.Action("EditCreator","Admin",new{creatorId=Model.Creator.UserId})'">Edit</button>

                            <button type="button" width="10" class="btn btn-danger btn-custom-xxs" onclick="confirmRemove('@Model.Creator.UserId')">Delete</button>

                            </div>
                        </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="row justify-content-center">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="profile-activity">
                                            <a href="@Url.Action("GetVideosByUserId","Video",new{userId=Model.Creator.UserId})">
                                                <i class='bx bx-video'></i>
                                            </a>
                                            <h3>Videos Uploaded</h3>
                                            <h2>@Model.Videos.Count.ToString()</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="profile-activity">
                                            
                                            <i class='bx bx-like'></i>
                                            
                                            @foreach (var videos in @Model.Videos)
                                            {
                                                likes = likes + videos.Likes;
                                            }
                                            <h3>Likes</h3>
                                            <h2>@likes</h2>

                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="profile-activity">
                                            <a href="@Url.Action("GetAdvertisementsByUserId","Advertisement",new{userId=Model.Creator.UserId})">
                                            <i class='bx bx-file'></i>
                                            </a>
                                            <h3>Advertises</h3>
                                            <h2>@Model.Advertisements.Count()</h2>
                                        </div>
                                    </div>
                                </div>

                   
                            </div>
                        </div>
                    </div>

                    <div class="profile-details card-box-style">
                        <ul class="list-inline profile-menu">
                            <li>
                                <a href="#">top videos</a>
                            </li>
                            <li>
                                <a href="#">campaigns</a>
                            </li>
                        </ul>

                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Personal Information</h3>
                            </div>

                            <div class="col-lg-6">
                                <div class="personal-info">
                                    <ul class="list-inline">
                                        <li>
                                            <span>Full Name :</span>
                                            @Model.Creator.FirstName @Model.Creator.LastName
                                        </li>
                                        <li>
                                            <span>Country :</span>
                                            @Model.Creator.Country
                                        </li>
                                        <li>
                                            <span>Address :</span>
                                            @Model.Creator.Address
                                        </li>
                                        <li>
                                            <span>City :</span>
                                            @Model.Creator.City
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="personal-info">
                                    <ul class="list-inline">
                                        <li>
                                            <span>Website :</span>
                                            <a href="#" target="_blank">envytheme.com</a>
                                        </li>
                                        <li>
                                            <span>Email :</span>
                                            <a href="mailto:{@Model.Creator.Email}">@Model.Creator.Email</a>
                                        </li>
                                        <li>
                                            <span>Phone :</span>
                                            <a href="tel:{@Model.Creator.ContactNo}">: @Model.Creator.ContactNo</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Profile Area -->


    <!-- End All Section Area -->

    <!-- End Template Sidebar Area -->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->
    <!-- Jquery Min JS -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/metismenu.min.js"></script>
    <script src="assets/js/simplebar.min.js"></script>
    <script src="assets/js/geticons.js"></script>
    <script src="assets/js/sweetalert2.all.min.js"></script>
    <script src="assets/js/jbox.all.min.js"></script>
    <script src="assets/js/editor.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.js"></script>
    <script src="assets/js/ajaxchimp.min.js"></script>
    @*<script src="assets/js/custom.js"></script>*@


