<!--View For:-List of Advertisement for creator-->
@model IEnumerable<FanEase.Entity.Models.AdvertisementListVM>
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "AdvertisementListScreenByUserId";
    Layout = "FanEaseLayout";
    //string UserId = "AT10";
    string UserId =HttpContextAccessor.HttpContext.Session.GetString("UserId");
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="body-bg-f8faff">

    <div class="contact-list-area">
        <div class="container-fluid">
            <div class="table-responsive" data-simplebar>
                <div class="others-title">
                    <p align="right">
                        <a asp-action="AddAdvertisement"><input type="button" value="Add Advertisement" class="btn btn-primary"></a>
                    </p>
                    <h3>Advertisement List</h3>
                </div>


                <table class="table class=" table align-middle mb-0"" >
                    <thead align="center">
                        <tr>
                            <th>
                                Advertisement Title
                            </th>
                            <th>
                                Advertisement Id
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Content Type
                            </th>
                            <th>
                                End Date
                            </th>
                            <th>
                                Add Clicks
                            </th>
                            <th>

                                Campaign Id
                            </th>
                            <th>
                                Views
                            </th>
                            <th>
                                Is Published
                            </th>
                            <th>
                                Is Active
                            </th>

                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdvertisementTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdvertisementId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Image)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContentType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdClicks)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CampaignId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Views)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsPublished)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
                }
            </div>
        </div>
    </div>
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->
    <!-- Jquery Min JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/metismenu.min.js"></script>
    <script src="assets/js/simplebar.min.js"></script>
    <script src="assets/js/geticons.js"></script>
    <script src="assets/js/sweetalert2.all.min.js"></script>
    <script src="assets/js/jbox.all.min.js"></script>
    <script src="assets/js/editor.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.js"></script>
    <script src="assets/js/ajaxchimp.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
